.collection-item {
	width: 22%;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-self: center;

	.image {
		width: 100%;
		height: 95%;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
	}

	.footer {
		padding: 0;
		width: 100%;
		height: 5%;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
	}

	.footer li {
		list-style-type: none;
	}

	.name {
		flex: 90%;
	}
}
